.heroSection {
  // max-width: 1200px;
  // position: relative;

  margin: auto;

  @media screen and (max-width: 990px) {
    max-width: 100%;
  }

  &-division {
    padding: 0px 0 56px 0;

    display: flex;
    align-items: center;
    gap: 139px;
    @media screen and (max-width: 1060px) {
      gap: 58px;
    }

    @media screen and (max-width: 990px) {
      flex-direction: column;
      gap: 30px;
    }

    &__left {
      width: 70%;

      @media screen and (max-width: 990px) {
        width: 100%;
        // padding-top: 1rem;
      }
      @media screen and (max-width: 480px) {
        width: 100%;
      }
      &-texts {
        > span {
          font-weight: 400;
          font-size: clamp(30px, 5vw, 48px);
          line-height: 72px;
          color: #ffffff;
          padding-bottom: 16px;
          @media screen and (max-width: 1060px) {
            font-size: 46px;
            line-height: 56px;
          }
          @media screen and (max-width: 990px) {
            font-size: 32px;
            line-height: 46px;
          }

          @media screen and (max-width: 480px) {
            font-size: 26px;
            line-height: 2rem;
            padding-bottom: 0;
          }
        }
        > p {
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          color: #f1f1f1;
          @media screen and (max-width: 990px) {
            padding-top: 6px;
            font-size: 14px;
            line-height: 24px;
          }
          @media screen and (max-width: 480px) {
            line-height: 24px;
            font-size: 16px;
            padding-top: 8px;
          }
        }
      }

      &-buttons {
        padding-top: 40px;
        display: flex;
        gap: 24px;
        @media screen and (max-width: 990px) {
          padding-top: 10px;
        }

        @media screen and (max-width: 480px) {
          padding-top: 15px;
          gap: 10px;
        }

        .buy-template {
          cursor: pointer;
          background: #65e4a3;
          border: 2px solid #69e6a6;
          border-radius: 56px;
          padding: 16px 56px;
          color: #0a2640;
          font-weight: 700;
          font-size: 20px;
          @media screen and (max-width: 1060px) {
            padding: 12px;
          }
          @media screen and (max-width: 990px) {
            flex: 1;
            border-radius: 26px;
            font-size: 14px;
          }

          @media screen and (max-width: 480px) {
            flex: 1;
            border-radius: 26px;
            font-size: 14px;
            padding: 10px;
          }
          @media screen and (max-width: 385px) {
            padding: 10px;
            font-size: 14px;
          }
        }
        .explore {
          cursor: pointer;
          background: #0a2640;
          color: white;
          padding: 16px 56px;
          border: 2px solid #ffffff;
          border-radius: 56px;
          @media screen and (max-width: 990px) {
            flex: 1;
            font-size: 14px;
            padding: 8px 16px;
            border-radius: 26px;
          }
          @media screen and (max-width: 480px) {
            flex: 1;
            font-size: 14px;
            padding: 8px 16px;
            border-radius: 26px;
          }
        }
      }
    }
    &__graphics {
      width: 64%;
      @media screen and (max-width: 990px) {
        width: 100%;
        > img {
          width: 100%;
        }
      }
      @media screen and (max-width: 960px) {
        > img {
          width: 100%;
        }
      }

      // z-index: 1;
      // width: 20%;
      // > img {
      //   width: 493.86px;
      //   height: 423px;
      // }
      // background-image: url(./../../assets/logo.png);
      // background-size: cover;
      // background-position: right;
      // background-repeat: repeat;
    }
  }
  // &__bgimage {
  //   > img {
  //     position: absolute;
  //     top: -377px;
  //     left: -592px;
  //     /* right: -108px; */
  //     z-index: 33;
  //   }
  // }
}
