.main {
  max-width: 1137px;
  margin: auto;
  &-body {
    padding-bottom: 120px;
    display: flex;
    align-items: center;
    gap: 150px;

    @media screen and (max-width: 1060px) {
      padding: 60px 15px;
      gap: 60px;
    }

    @media screen and (max-width: 990px) {
      padding: 40px 15px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      // width: 85%;
    }
    @media screen and (max-width: 480px) {
      padding: 0 15px;
      gap: 26px;
      align-items: flex-start;
      flex-direction: column;
    }
    // &__img {
    //   object-fit: cover;
    //   position: relative;
    //   width: 100%;
    //   height: auto;
    //   &-subImg {
    //     position: absolute;
    //     bottom: -181px;
    //     left: 47px;
    //     width: 251px;
    //     padding: 40px;
    //     background: #ffffff;
    //     box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
    //     border-radius: 12px;
    //   }
    // }
    &__heading {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 56px;
      @media screen and (max-width: 1060px) {
        // width: 95%;
      }

      @media screen and (max-width: 480px) {
        // width: 100%;
      }
      &_text {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 40px;
        @media screen and (max-width: 1060px) {
          gap: 20px;
        }

        &-top {
          > p {
            font-weight: 400;
            font-size: 36px;
            line-height: 56px;

            color: #000000;

            @media screen and (max-width: 990px) {
              font-size: 30px;
              line-height: 40px;
            }
            @media screen and (max-width: 480px) {
              font-size: 24px;
              line-height: 30px;
            }
          }
        }
        &-middle {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          overflow: hidden;
          width: 100%;
          @media screen and (max-width: 480px) {
            width: 100%;
          }
          &_top {
            padding: 16px 53px 16px 20px;
            background: #0a2640;
            box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            display: flex;
            gap: 12px;
            width: 100%;
            @media screen and (max-width: 1020px) {
              width: 100%;
              padding: 12px;
            }

            @media screen and (max-width: 480px) {
              padding: 7px;
              gap: 8px;
              width: 100%;
              align-items: center;
            }

            > img {
              width: 24px;
              height: 24px;
              @media screen and (max-width: 480px) {
              }
            }
            > p {
              font-weight: 600;
              font-size: 16px;
              line-height: 28px;
              color: #ffffff;
            }
          }
          &_middle {
            padding: 16px 53px 16px 20px;
            background: #ffffff;
            box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            display: flex;
            gap: 12px;
            width: 100%;
            @media screen and (max-width: 1020px) {
              padding: 15px;
              // width: 80%;
            }
            @media screen and (max-width: 530px) {
              // width: 100%;
            }

            @media screen and (max-width: 480px) {
              padding: 7px;
              gap: 8px;
              // width: 100%;
              align-items: center;
            }

            > img {
              width: 24px;
              height: 24px;
              @media screen and (max-width: 480px) {
              }
            }
            > p {
              font-weight: 600;
              font-size: 16px;
              line-height: 28px;

              color: #000000;
            }
          }
          &_bottom {
            padding: 16px 53px 16px 20px;
            background: #ffffff;
            box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            display: flex;
            gap: 12px;
            // width: 100%;
            @media screen and (max-width: 1020px) {
              padding: 15px;
              width: 100%;
            }
            @media screen and (max-width: 530px) {
              width: 100%;
            }

            @media screen and (max-width: 480px) {
              padding: 7px;
              gap: 8px;
              // width: 100%;
              align-items: center;
            }

            > img {
              width: 24px;
              height: 24px;
              @media screen and (max-width: 480px) {
              }
            }
            > p {
              font-weight: 600;
              font-size: 16px;
              line-height: 28px;
            }
          }
        }
      }
    }
    &__img {
      > img {
        width: 444px;
        height: 692px;
        // object-fit: cover;
        // aspect-ratio: 1/1;
        @media screen and (max-width: 1060px) {
          // width: 100%;
          // height: auto;
        }

        @media screen and (max-width: 990px) {
          width: 100%;
          height: auto;
        }
        @media screen and (max-width: 480px) {
          width: 100%;
          // height: auto;
        }
      }
    }
  }
}
