.story {
  max-width: 842px;
  margin: auto;
  &-heading {
    padding: 96px 0 96px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    @media screen and (max-width: 1020px) {
      padding: 64px 15px;
    }
    @media screen and (max-width: 768px) {
      padding: 80px 15px;
      gap: 20px;
    }
    @media screen and (max-width: 480px) {
      padding: 48px 15px;
      gap: 12px;
    }
    &__top {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 12px;
      @media screen and (max-width: 768px) {
        gap: 10px;
      }
      @media screen and (max-width: 480px) {
        // align-items: center;
        gap: 8px;
      }

      > h4 {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #777777;
      }
      > h2 {
        font-weight: 400;
        font-size: 48px;
        line-height: 72px;
        color: #000000;
        @media screen and (max-width: 768px) {
          font-size: 40px;
          line-height: 40px;
        }
        @media screen and (max-width: 480px) {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }

    &__bottom {
      > p {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #777777;
        @media screen and (max-width: 768px) {
          font-size: 18px;
          line-height: 28px;
        }
        @media screen and (max-width: 768px) {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }
}
