.section {
  max-width: 1137px;
  margin: auto;
  &-body {
    display: flex;
    align-items: center;
    gap: 150px;
    @media screen and (max-width: 1060px) {
      gap: 100px;
    }
    @media screen and (max-width: 990px) {
      display: grid;
      grid-template-columns: 500px 1fr;
      place-items: flex-start;
      gap: 30px;
    }
    @media screen and (max-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      flex-direction: column;
      gap: 60px;
      align-items: baseline;
    }
    @media screen and (max-width: 480px) {
      flex-direction: column;
      gap: 40px;
    }
    &__img {
      position: relative;
      @media screen and (max-width: 480px) {
        display: none;
      }
      &-subImg {
        position: absolute;
        bottom: -95px;
        right: 57px;
        width: 251px;
        padding: 40px;
        background: #ffffff;
        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        @media screen and (max-width: 1040px) {
          bottom: -70px;
          right: 57px;
          width: 200px;
          padding: 30px;
        }
        @media screen and (max-width: 768px) {
          bottom: -50px;
          right: 0;
          width: 150px;
          padding: 20px;
        }
        @media screen and (max-width: 480px) {
          // bottom: -50px;
          display: none;
          // right: 0;
          // width: 150px;
          // padding: 20px;
        }
      }
    }

    &__heading {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 56px;
      @media screen and (max-width: 1040px) {
        gap: 40px;
      }
      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 30px;
      }
      @media screen and (max-width: 480px) {
        gap: 20px;
      }
      &_text {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 40px;
        @media screen and (max-width: 990px) {
          gap: 20px;
        }
        @media screen and (max-width: 768px) {
          gap: 20px;
        }
        &-top {
          > p {
            font-weight: 400;
            font-size: 36px;
            line-height: 56px;

            color: #000000;
          }
        }
        &-middle {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          &_top {
            display: flex;
            gap: 27px;
            justify-content: space-between;
            @media screen and (max-width: 768px) {
              align-items: flex-start;
              gap: 10px;
            }

            > img {
            }
            > p {
              font-weight: 400;
              font-size: 20px;
              line-height: 32px;

              color: #000000;
              @media screen and (max-width: 990px) {
                font-size: 16px;
                line-height: 28px;
              }
            }
          }
          &_middle {
            display: flex;
            gap: 27px;
            @media screen and (max-width: 768px) {
              gap: 10px;
            }
            > img {
            }
            > p {
              font-weight: 400;
              font-size: 20px;
              line-height: 32px;

              color: #000000;
              @media screen and (max-width: 990px) {
                font-size: 16px;
                line-height: 28px;
              }
            }
          }
          &_bottom {
            display: flex;
            gap: 27px;
            justify-content: space-between;
            @media screen and (max-width: 768px) {
              align-items: flex-start;
              gap: 10px;
            }
            > img {
            }
            > p {
              font-weight: 400;
              font-size: 20px;
              line-height: 32px;

              color: #000000;
              @media screen and (max-width: 990px) {
                font-size: 16px;
                line-height: 28px;
              }
            }
          }
        }
      }
      &-bottom {
        &__startBtn {
          padding: 16px 56px;
          gap: 8px;
          background: #0a2640;
          border: 2px solid #0a2640;
          border-radius: 56px;
          font-weight: 700;
          font-size: 20px;
          line-height: 28px;
          color: #ffffff;
          @media screen and (max-width: 768px) {
            padding: 12px 40px;
          }
        }
      }
    }
  }
}
