.heading {
  max-width: 842px;
  margin: auto;
  &-text {
    text-align: center;
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 45px 0;
    @media screen and (max-width: 1040px) {
      padding: 64px 16px;
      gap: 16px;
    }
    @media screen and (max-width: 768px) {
      padding: 42px 15px;
      gap: 8px;
    }
    @media screen and (max-width: 480px) {
      padding: 25px 15px;
      gap: 4px;
    }

    > p {
      color: #777777;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
    }
    > h2 {
      color: #000000;
      font-weight: 400;
      font-size: clamp(30px, 5vw, 48px);
      line-height: 72px;

      text-align: center;
      @media screen and (max-width: 990px) {
        line-height: 50px;
      }
      @media screen and (max-width: 480px) {
        line-height: 40px;
      }
      @media screen and (max-width: 440px) {
        line-height: 30px;
        font-size: 22px;
      }
    }
  }
}
