.cta {
  position: relative;
  max-width: 1200px;

  margin: 90px auto 0;

  overflow: hidden;
  @media screen and (max-width: 1440px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (max-width: 1060px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (max-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (max-width: 480px) {
    padding-left: 15px;
    padding-right: 15px;
    margin: 60px auto 0;
  }

  &-body {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    background: #0a2640;

    border-radius: 12px;
    padding: 72px 0;
    @media screen and (max-width: 768px) {
      padding: 48px 0;
      gap: 24px;
      padding-left: 15px;
      padding-right: 15px;
    }
    @media screen and (max-width: 480px) {
      padding: 30px 15px;
      gap: 20px;
    }

    &__text {
      z-index: 1;
      > p {
        z-index: 99;
        // width: 716px;
        text-align: center;
        font-weight: 400;
        font-size: 48px;
        line-height: 72px;
        color: #ffffff;
        @media screen and (max-width: 990px) {
          line-height: 44px;
          font-size: 40px;
        }
        @media screen and (max-width: 768px) {
          line-height: 40px;
          font-size: 30px;
        }
        @media screen and (max-width: 480px) {
          // width: 100%;

          line-height: 2rem;
          font-size: 20px;
        }
      }
    }
    &__buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
      padding: 0 15px;
      width: 100%;
      @media screen and (max-width: 768px) {
        gap: 14px;
      }
      @media screen and (max-width: 480px) {
        align-items: flex-start;
        flex-direction: column;
      }

      > input::placeholder {
      }
      &-emailfield {
        // flex: 1;
        outline: none;
        padding: 12px 56px;
        background: #ffffff;
        border: 2px solid #ffffff;
        border-radius: 240px;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #000000;
        @media screen and (max-width: 768px) {
          padding: 12px 24px;
          font-size: 16px;
          line-height: 24px;
          border-radius: 32px;
          width: 40%;
        }
        @media screen and (max-width: 480px) {
          width: 100%;
          box-sizing: border-box;

          padding: 12px 24px;
          font-size: 16px;
          line-height: 24px;
          border-radius: 36px;
        }
      }
      &-emailfield {
      }
      &-startNowBtn {
        // z-index: 88;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        background: #65e4a3;
        color: #0a2640;
        border: 2px solid #65e4a3;
        border-radius: 56px;
        padding: 16px 56px;
        @media screen and (max-width: 768px) {
          padding: 14px 28px;
          border-radius: 33px;
        }
        @media screen and (max-width: 480px) {
          padding: 12px 24px;
          border-radius: 30px;
          width: 100%;
        }
      }
    }
  }
  &-bgImages {
    position: absolute;
    top: 0;
    right: 0;
    @media screen and (max-width: 1440px) {
      top: 3px;
      right: 14px;
    }
    @media screen and (max-width: 1060px) {
      top: -36px;
      right: 15px;
    }
    @media screen and (max-width: 768px) {
      top: -105px;
      right: 15px;
      // z-index: 1;
    }
    @media screen and (max-width: 540px) {
      top: -146px;
      right: 15px;
    }
    @media screen and (max-width: 480px) {
      top: -175px;
      right: 15px;
    }
    @media screen and (max-width: 440px) {
      display: none;
    }
  }
}
