.modal {
  scroll-behavior: smooth;
  background: #0a2640;
  max-width: 600px;
  padding: 100px 0;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 70px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  @media screen and (max-width: 768px) {
    max-width: 70%;
    top: 50%;
    padding: 40px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  @media screen and (max-width: 768px) {
    max-width: 80%;
    padding: 80px;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
  }
  // @media screen and (max-width: 480px) {
  //   max-width: 90%;
  //   padding: 50px 20px;
  //   top: 50%;
  //   transform: translate(-50%, -50%);
  //   padding: 25px 15px;
  // }

  &-top {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media screen and (max-width: 768px) {
      gap: 30px;
      padding: 0;
    }

    &-header {
      h2 {
        margin: 0;
        font-size: 24px;
        color: #fff;
        text-align: center;
      }
    }

    .close-btn {
      border: none;
      background: none;
      cursor: pointer;
      font-size: 24px;
      color: #fff;
      position: absolute;
      top: 40px;
      right: 50px;
      @media screen and (max-width: 480px) {
        top: 5px;
        right: 30px;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      &-form {
        display: flex;
        flex-direction: column;
        gap: 50px;
      }

      .form-group {
        display: flex;
        flex-direction: column;
        gap: 9px;

        label {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          display: flex;

          color: #ffffff;

          > span {
            color: red;
          }
        }

        input {
          padding: 15px;
          border: none;

          font-size: 16px;
          color: #333;
          background: #fff;

          &:focus {
            outline: none;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          }

          &.error {
            border: 2px solid #ff0000;
          }
        }

        .error-message {
          margin-top: 5px;
          font-size: 14px;
          color: #ff0000;
        }
      }

      .button-group {
        display: flex;
        gap: 20px;

        .login-btn,
        .cancel-btn {
          font-weight: 700;
          font-size: 20px;
          line-height: 28px;
          color: #ffffff;
          background: #0a2640;
          border-radius: 50px;
          padding: 16px 56px;
          border: 2px solid #ffffff;
          cursor: pointer;
          @media screen and (max-width: 480px) {
            font-size: 16px;
            padding: 12px 36px;
          }
          @media screen and (max-width: 768px) {
            font-size: 18px;
            padding: 14px 48px;
          }
          &:hover {
            background: rgb(57, 35, 185);
          }
        }
      }
    }
  }
}

.login_overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}
