.navbar {
  // background: #0a2640;
  // background-color: rgba(10, 38, 64, 0.8);
  // position: sticky;
  // top: 0;
  // z-index: 99;
  // position: relative;
  // &__bgimage {
  //   // position: absolute;
  //   background: #0a2640;
  //   width: 400px;
  //   height: 400px;
  // }
  &-container {
    position: relative;
    max-width: 1200px;
    margin: auto;
    &__wrappper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px 0 45px 0;
      @media screen and (max-width: 1024px) {
        padding: 30px 15px;
      }
      &-logo {
        .logos {
          display: flex;
          align-items: center;
          gap: 11px;
          cursor: pointer;
          text-decoration: none;
          > img {
            width: 26px;
            height: 33px;
          }
          p {
            font-weight: 700;
            font-size: 43.25px;
            line-height: 34px;
            color: white;
          }
        }
      }
      &-links {
        display: flex;
        align-items: center;
        gap: 40px;
        @media screen and (max-width: 1024px) {
          display: none;
        }
        .items {
          text-decoration: none;
          font-weight: 600;
          font-size: 16px;
          line-height: 28px;
          color: #ffffff;
          &:hover {
            color: #777777;
          }
        }
        .primary-btn {
          background: #ffffff;
          border: 2px solid #ffffff;
          border-radius: 24px;
          padding: 8px 40px;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          cursor: pointer;
          &:hover {
            // background-color: red;
            // border: none;
            // transition: 0.3s ease-in-out;
          }
        }
      }
      &-hamburgurMenu {
        display: none;

        @media screen and (max-width: 1024px) {
          display: block;
        }

        &_container {
          position: absolute;
          background-color: whitesmoke;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          position: absolute;
          // background-color: whitesmoke;
          // top: 0;
          // right: 0;
          // width: 60vw;
          // height: 100vh;
          // padding: 30px;
          &-links {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 30px;
            padding: 40px;
          }

          .item {
            text-decoration: none;
          }
          .primary-btn {
            background: #ffffff;
            border: 2px solid #ffffff;
            border-radius: 24px;
            padding: 8px 40px;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            cursor: pointer;
          }
          .ri-closeline {
            position: absolute;
            top: 30px;
            right: 50px;
            // top: 28px;
            // right: 20px;
          }
        }
      }
    }
    // &__color {
    //   background: #1c3d5b;
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   height: 500px;
    //   width: 500px;
    // }
  }
}
