.navbar {
  &-container {
    position: relative;
    max-width: 1200px;
    margin: auto;
    &__wrappper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px 0 45px 0;
      @media screen and (max-width: 1024px) {
        padding: 30px 0px;
      }
      &-logo {
        .logos {
          display: flex;
          align-items: center;
          gap: 11px;
          cursor: pointer;
          text-decoration: none;
          > img {
            width: 26px;
            height: 33px;
          }
          p {
            font-weight: 700;
            font-size: 43.25px;
            line-height: 34px;
            color: white;
          }
        }
      }
      &-links {
        display: flex;
        align-items: center;
        gap: 40px;
        @media screen and (max-width: 1024px) {
          display: none;
        }
        .items {
          text-decoration: none;
          font-weight: 600;
          font-size: 16px;
          line-height: 28px;
          color: #ffffff;
          &:hover {
            color: #777777;
          }
          &:visited {
            color: #ffffff;
          }
        }
        .primary-btn {
          background: #ffffff;
          border: 2px solid #ffffff;
          border-radius: 24px;
          padding: 8px 40px;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          cursor: pointer;
        }
      }
      &-hamburgurMenu {
        display: none;

        @media screen and (max-width: 1024px) {
          display: block;
        }

        &_container {
          position: absolute;
          background-color: whitesmoke;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          position: absolute;

          &-links {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 30px;
            padding: 40px;
          }

          .item {
            text-decoration: none;
            color: #777777;
            &:hover {
              color: #777777;
            }
            &:visited {
              color: #777777;
            }
          }
          .primary-btn {
            background: #ffffff;
            border: 2px solid #ffffff;
            border-radius: 24px;
            padding: 8px 40px;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            cursor: pointer;
          }
          .ri-closeline {
            position: absolute;
            top: 30px;
            right: 50px;
          }
        }
      }
    }
  }
}
