.logo {
  background: linear-gradient(
    90deg,
    #0a2640 0%,
    rgba(10, 38, 64, 0.109375) 31.6%,
    rgba(10, 38, 64, 0) 72.89%,
    #0a2640 97.87%
  );

  max-width: 1137px;
  margin: auto;

  &-section {
    padding-bottom: 80px;
    @media screen and (max-width: 1230px) {
      padding: 40px 15px 30px;
    }
    @media screen and (max-width: 480px) {
      padding-bottom: 20px;
    }

    > img {
      margin-right: 25px;
      width: 145px;
      height: 42px;

      @media screen and (max-width: 480px) {
        margin-right: 15px;
      }
    }
  }
}
